#choices: file sqlite mariadb postgres
#required: required
NOTE_DB_BACKEND=file
#blank-if: NOTE_DB_BACKEND=file NOTE_DB_URL NOTE_DB_PORT NOTE_DB_NAME NOTE_DB_USER NOTE_DB_PW NOTE_DB_PREFIX
#blank-if: NOTE_DB_BACKEND=sqlite NOTE_DB_URL NOTE_DB_PORT NOTE_DB_NAME NOTE_DB_USER NOTE_DB_PW NOTE_DB_PREFIX
#required: required
NOTE_DB_URL=127.0.0.1
#required: required
NOTE_DB_PORT=5432
#required: required
NOTE_DB_NAME=note
#required: required
NOTE_DB_USER=note
#required: required
#secret
NOTE_DB_PW=
#required: required
NOTE_DB_PREFIX=note
